@using WebASP_MVC.Controllers
@model UseCases.API.Dto.MenuDto
@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        @if (Model != null && Model.MenuItems.Count > 0)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MenuItems)
            </dt>
            <dd class="col-sm-10">
                <table class="table">
                    <tr>Menu Items</tr>
                    @foreach (var item in MenusController.IncomingProducts)
                    {
                        if (item == null) continue;
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        }
    </dl>
</div>
<div>
    @if (Model != null)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
