@using UseCases.API.Dto
@model IEnumerable<UseCases.API.Dto.MenuDto>

@{
    ViewData["Title"] = "Menus";
}

<h1>Menus</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItems)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.Raw("Products")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (MenuItemDto menuItem in item.MenuItems)
                            {
                                @if (menuItem.Product == null) continue;
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modeitem=>menuItem.Product.Name)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
